        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            line-height: 1.6;
            background-color: #FFFCF5; /* Cloud */
            color: #374375; /* Navy */
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        /* Header */
        header {
            background-color: #374375; /* Navy */
            color: #FFFCF5; /* Cloud */
            text-align: center;
            padding: 20px 0;
        }

        header h1 {
            font-size: 2.5rem;
            margin: 0;
            text-transform: uppercase;
            transition: color 0.3s ease;
        }

        header h1:hover {
            color: #FFFCF5; /* Peach */
        }

        /* Main content */
        main {
            padding: 20px;
        }

        /* Câu hỏi */
        section#questions {
            background-color: rgba(223, 174, 161, 0.2); /* Peach nhạt */
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            transition: transform 0.3s ease, background-color 0.3s ease;
        }

        section#questions:hover {
            transform: translateY(-5px);
        }

        section#questions h2 {
            color: #895159; /* Dark Peach */
            font-size: 1.8rem;
        }

        section#questions ul {
            list-style: none;
            padding: 0;
        }

        section#questions li {
            margin: 10px 0;
            font-size: 1.2rem;
        }

        /* Câu trả lời */
        section#answers {
            background-color: #edeef7; /* Periwinkle nhạt */
            padding: 20px;
            margin-bottom: 20px;
            border-radius: 10px;
            transition: transform 0.3s ease, background-color 0.3s ease;
        }

        section#answers:hover {
            transform: translateY(-5px);
        }

        section#answers h2 {
            color: #374375; /* Navy */
            font-size: 1.8rem;
        }

        section p {
            margin: 10px 0;
            font-size: 1.2rem;
            color: #374375;
        }
